#logout-popup {
  background-color: transparent;
}

#logout-box {
  padding: 5px;
  margin-top: 20px;
  margin-right: 160px;
  background-color: var(--backgroundWaybar);
  border: 2px solid var(--color4);
  border-radius: 30px;
  padding: 10px;
}

#logout-box button {
  background-color: transparent;
  color: white;
  padding: 10px;
  border-radius: 25px;
  transition: all 0.3s cubic-bezier(0.00, 0.00, 0.20, 1.00);
}

#logout-box button:hover {
  background-color: var(--color4);
  color: var(--background);
}

#logout {
  /* padding: 0 10px; */
  color: var(--color3);
}
