#memory-label {
  color: var(--color6);
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
}

#memory-progress-bar {
  color: white;
  border-color: shade(var(--color4), 0.85);
}


#memory {
  margin-left: 0px;
}

#memory-popup-window {
  background-color: transparent;
}

#memory-popup-content {
  padding: 12px;
  background-color: var(--background);
  border: 1px solid shade(var(--color4), 0.85);
  border-radius: 35px;
}

#memory-stats-label {
  color: mix(var(--color5), white, 0.4);
  font-size: 13px;
  padding: 2px 4px 0 4px;
}

#flow-graph {
  color: var(--color5);
}
