
@define-color cursor #C99FB3;
@define-color background #18151A;
@define-color foreground #FEF5F6;
@define-color color0  #433F47;
@define-color color1  #7C688D;
@define-color color2  #AC7290;
@define-color color3  #8B7CAA;
@define-color color4  #C47CA2;
@define-color color5  #E1A9C1;
@define-color color6  #FCE3E5;
@define-color color7  #F5E9EA;
@define-color color8  #ACA3A3;
@define-color color9  #7C688D;
@define-color color10 #AC7290;
@define-color color11 #8B7CAA;
@define-color color12 #C47CA2;
@define-color color13 #E1A9C1;
@define-color color14 #FCE3E5;
@define-color color15 #F5E9EA;
@define-color backgroundWaybar rgba(24,21,26,0.65);