
@define-color cursor #A38997;
@define-color background #23242A;
@define-color foreground #EEE9F2;
@define-color color0  #4E4F56;
@define-color color1  #515973;
@define-color color2  #7D5A68;
@define-color color3  #776D7F;
@define-color color4  #667489;
@define-color color5  #9A879F;
@define-color color6  #CFC0D9;
@define-color color7  #DFD7E3;
@define-color color8  #9C969F;
@define-color color9  #515973;
@define-color color10 #7D5A68;
@define-color color11 #776D7F;
@define-color color12 #667489;
@define-color color13 #9A879F;
@define-color color14 #CFC0D9;
@define-color color15 #DFD7E3;
@define-color backgroundWaybar rgba(35,36,42,0.65);