
@define-color cursor #F8F5F4;
@define-color background #04000A;
@define-color foreground #F8F5F4;
@define-color color0  #120D16;
@define-color color1  #827095;
@define-color color2  #83729C;
@define-color color3  #8A6F71;
@define-color color4  #999FBA;
@define-color color5  #CDAACF;
@define-color color6  #EBE3E0;
@define-color color7  #EDE9E7;
@define-color color8  #A6A3A2;
@define-color color9  #827095;
@define-color color10 #83729C;
@define-color color11 #8A6F71;
@define-color color12 #999FBA;
@define-color color13 #CDAACF;
@define-color color14 #EBE3E0;
@define-color color15 #EDE9E7;
@define-color backgroundWaybar rgba(4,0,10,0.65);