
@define-color cursor #F9F6FF;
@define-color background #070015;
@define-color foreground #F9F6FF;
@define-color color0  #0A0019;
@define-color color1  #7160BE;
@define-color color2  #A76E5C;
@define-color color3  #906AA4;
@define-color color4  #7A64EC;
@define-color color5  #B9A5FA;
@define-color color6  #EFE4FE;
@define-color color7  #EFE9F6;
@define-color color8  #A7A3AC;
@define-color color9  #7160BE;
@define-color color10 #A76E5C;
@define-color color11 #906AA4;
@define-color color12 #7A64EC;
@define-color color13 #B9A5FA;
@define-color color14 #EFE4FE;
@define-color color15 #EFE9F6;
@define-color backgroundWaybar rgba(7,0,21,0.65);