
@define-color cursor #A29EA0;
@define-color background #090000;
@define-color foreground #FDF3DC;
@define-color color0  #0B0000;
@define-color color1  #7F635C;
@define-color color2  #717388;
@define-color color3  #A4666B;
@define-color color4  #837687;
@define-color color5  #E17A5A;
@define-color color6  #F8DC9A;
@define-color color7  #F3E5C4;
@define-color color8  #AAA089;
@define-color color9  #7F635C;
@define-color color10 #717388;
@define-color color11 #A4666B;
@define-color color12 #837687;
@define-color color13 #E17A5A;
@define-color color14 #F8DC9A;
@define-color color15 #F3E5C4;
@define-color backgroundWaybar rgba(9,0,0,0.65);