
@define-color cursor #D09BAA;
@define-color background #03000F;
@define-color foreground #F9F0D9;
@define-color color0  #171420;
@define-color color1  #766EAA;
@define-color color2  #B05789;
@define-color color3  #8C86B6;
@define-color color4  #E27B7B;
@define-color color5  #EF9E75;
@define-color color6  #EED592;
@define-color color7  #EEE1C0;
@define-color color8  #A79E86;
@define-color color9  #766EAA;
@define-color color10 #B05789;
@define-color color11 #8C86B6;
@define-color color12 #E27B7B;
@define-color color13 #EF9E75;
@define-color color14 #EED592;
@define-color color15 #EEE1C0;
@define-color backgroundWaybar rgba(3,0,15,0.65);