
@define-color cursor #97919E;
@define-color background #191418;
@define-color foreground #FCE7EB;
@define-color color0  #453F43;
@define-color color1  #4E4C5B;
@define-color color2  #616778;
@define-color color3  #847C94;
@define-color color4  #CD6895;
@define-color color5  #A796A4;
@define-color color6  #F6BAC6;
@define-color color7  #F2D4DA;
@define-color color8  #A99499;
@define-color color9  #4E4C5B;
@define-color color10 #616778;
@define-color color11 #847C94;
@define-color color12 #CD6895;
@define-color color13 #A796A4;
@define-color color14 #F6BAC6;
@define-color color15 #F2D4DA;
@define-color backgroundWaybar rgba(25,20,24,0.65);