
@define-color cursor #B59782;
@define-color background #292424;
@define-color foreground #FDF5DC;
@define-color color0  #554F4F;
@define-color color1  #6B5556;
@define-color color2  #8E6559;
@define-color color3  #B97B6A;
@define-color color4  #F18D5C;
@define-color color5  #FCC775;
@define-color color6  #F8E29A;
@define-color color7  #F3E8C4;
@define-color color8  #AAA289;
@define-color color9  #6B5556;
@define-color color10 #8E6559;
@define-color color11 #B97B6A;
@define-color color12 #F18D5C;
@define-color color13 #FCC775;
@define-color color14 #F8E29A;
@define-color color15 #F3E8C4;
@define-color backgroundWaybar rgba(41,36,36,0.65);