
@define-color cursor #A6A091;
@define-color background #000100;
@define-color foreground #EFF1E3;
@define-color color0  #000100;
@define-color color1  #896659;
@define-color color2  #82776A;
@define-color color3  #93704A;
@define-color color4  #779470;
@define-color color5  #BE9E5F;
@define-color color6  #D1D7AE;
@define-color color7  #E0E3CE;
@define-color color8  #9C9F90;
@define-color color9  #896659;
@define-color color10 #82776A;
@define-color color11 #93704A;
@define-color color12 #779470;
@define-color color13 #BE9E5F;
@define-color color14 #D1D7AE;
@define-color color15 #E0E3CE;
@define-color backgroundWaybar rgba(0,1,0,0.65);