
@define-color cursor #C298A3;
@define-color background #070007;
@define-color foreground #F1E8E7;
@define-color color0  #080008;
@define-color color1  #8870A2;
@define-color color2  #A26276;
@define-color color3  #A4688E;
@define-color color4  #D1848B;
@define-color color5  #E88F79;
@define-color color6  #D8BCBA;
@define-color color7  #E3D5D4;
@define-color color8  #9F9594;
@define-color color9  #8870A2;
@define-color color10 #A26276;
@define-color color11 #A4688E;
@define-color color12 #D1848B;
@define-color color13 #E88F79;
@define-color color14 #D8BCBA;
@define-color color15 #E3D5D4;
@define-color backgroundWaybar rgba(7,0,7,0.65);