
@define-color cursor #F2D2D8;
@define-color background #212124;
@define-color foreground #F2D2D8;
@define-color color0  #4C4C51;
@define-color color1  #565766;
@define-color color2  #8D6978;
@define-color color3  #6F889F;
@define-color color4  #8A82A0;
@define-color color5  #B6788F;
@define-color color6  #D97F8F;
@define-color color7  #E3B6BE;
@define-color color8  #9F8085;
@define-color color9  #565766;
@define-color color10 #8D6978;
@define-color color11 #6F889F;
@define-color color12 #8A82A0;
@define-color color13 #B6788F;
@define-color color14 #D97F8F;
@define-color color15 #E3B6BE;
@define-color backgroundWaybar rgba(33,33,36,0.65);