
@define-color cursor #D0AA8C;
@define-color background #090000;
@define-color foreground #FBF5E8;
@define-color color0  #0B0000;
@define-color color1  #835D56;
@define-color color2  #A96739;
@define-color color3  #B17589;
@define-color color4  #CF9951;
@define-color color5  #BFAB92;
@define-color color6  #F3E2BC;
@define-color color7  #F1E8D5;
@define-color color8  #A8A395;
@define-color color9  #835D56;
@define-color color10 #A96739;
@define-color color11 #B17589;
@define-color color12 #CF9951;
@define-color color13 #BFAB92;
@define-color color14 #F3E2BC;
@define-color color15 #F1E8D5;
@define-color backgroundWaybar rgba(9,0,0,0.65);