
@define-color cursor #D9A8A0;
@define-color background #000005;
@define-color foreground #F8EDD6;
@define-color color0  #0A0C11;
@define-color color1  #817887;
@define-color color2  #BA636A;
@define-color color3  #A08E77;
@define-color color4  #D08870;
@define-color color5  #D2BBAE;
@define-color color6  #EBCB8B;
@define-color color7  #EDDDBD;
@define-color color8  #A69A84;
@define-color color9  #817887;
@define-color color10 #BA636A;
@define-color color11 #A08E77;
@define-color color12 #D08870;
@define-color color13 #D2BBAE;
@define-color color14 #EBCB8B;
@define-color color15 #EDDDBD;
@define-color backgroundWaybar rgba(0,0,5,0.65);