
@define-color cursor #B5979E;
@define-color background #000003;
@define-color foreground #E5E7ED;
@define-color color0  #07070C;
@define-color color1  #71747F;
@define-color color2  #9C6A70;
@define-color color3  #B17399;
@define-color color4  #DD6066;
@define-color color5  #AD95A0;
@define-color color6  #B6B9CB;
@define-color color7  #D2D4DD;
@define-color color8  #93949A;
@define-color color9  #71747F;
@define-color color10 #9C6A70;
@define-color color11 #B17399;
@define-color color12 #DD6066;
@define-color color13 #AD95A0;
@define-color color14 #B6B9CB;
@define-color color15 #D2D4DD;
@define-color backgroundWaybar rgba(0,0,3,0.65);