
@define-color cursor #A59A9C;
@define-color background #000105;
@define-color foreground #F2EBEC;
@define-color color0  #000106;
@define-color color1  #556B78;
@define-color color2  #7F7174;
@define-color color3  #987263;
@define-color color4  #7C8381;
@define-color color5  #BA969C;
@define-color color6  #D9C7C8;
@define-color color7  #E4DBDB;
@define-color color8  #9F9999;
@define-color color9  #556B78;
@define-color color10 #7F7174;
@define-color color11 #987263;
@define-color color12 #7C8381;
@define-color color13 #BA969C;
@define-color color14 #D9C7C8;
@define-color color15 #E4DBDB;
@define-color backgroundWaybar rgba(0,1,5,0.65);