
@define-color cursor #FCF6F4;
@define-color background #060000;
@define-color foreground #FCF6F4;
@define-color color0  #060000;
@define-color color1  #986A66;
@define-color color2  #7D7485;
@define-color color3  #CD7A6A;
@define-color color4  #BDA0A8;
@define-color color5  #EDB9A7;
@define-color color6  #F7E6E0;
@define-color color7  #F3EAE7;
@define-color color8  #AAA4A2;
@define-color color9  #986A66;
@define-color color10 #7D7485;
@define-color color11 #CD7A6A;
@define-color color12 #BDA0A8;
@define-color color13 #EDB9A7;
@define-color color14 #F7E6E0;
@define-color color15 #F3EAE7;
@define-color backgroundWaybar rgba(6,0,0,0.65);