
@define-color cursor #9DAAC4;
@define-color background #030005;
@define-color foreground #E6E7F4;
@define-color color0  #0C080F;
@define-color color1  #7B7183;
@define-color color2  #657C9E;
@define-color color3  #D3747C;
@define-color color4  #A08AC1;
@define-color color5  #48B3DC;
@define-color color6  #B8BADF;
@define-color color7  #D3D4E7;
@define-color color8  #9494A1;
@define-color color9  #7B7183;
@define-color color10 #657C9E;
@define-color color11 #D3747C;
@define-color color12 #A08AC1;
@define-color color13 #48B3DC;
@define-color color14 #B8BADF;
@define-color color15 #D3D4E7;
@define-color backgroundWaybar rgba(3,0,5,0.65);