@import url("./colors.css");
@import url("./widgets/clock.css");
@import url("./widgets/cpu.css");
@import url("./widgets/gpu.css");
@import url("./widgets/memory.css");
@import url("./widgets/workspaces.css");
@import url("./widgets/cava.css");
@import url("./widgets/mpris.css");
@import url("./widgets/audio.css");
@import url("./widgets/notifications.css");
@import url("./widgets/network.css");
@import url("./widgets/bluetooth.css");
@import url("./widgets/battery.css");
@import url("./widgets/wallpaper.css");
@import url("./widgets/brightness.css");
@import url("./widgets/control-center.css");
@import url("./widgets/osd.css");
@import url("./widgets/system-tray.css");

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: 900;
  font-size: 16px;
  background: transparent;
  transition: background 0.4s cubic-bezier(0.55, 0.68, 0.48, 1.682);
}

@keyframes animated-gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}

#bar {
  background-color: var(--background);
}

#corner {
  background-color: var(--background);
}

#corners-overlay {
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  margin-left: 9px;
  margin-right: 9px;
  background-color: transparent;
  border: solid;
  border-radius: 42px;
  border-width: 2px;
  border-color: var(--color4);
  box-shadow: var(--color4) 0px 0px 3px 4px;
}

#screen-padding-left,
#screen-padding-right {
  background-color: var(--background);
  padding: 5px;
}

#screen-padding-bottom {
  background-color: var(--background);
  padding: 8px;
}

#screen-padding-top {
  background-color: var(--background);
  padding: 3px;
}

.sep {
  padding: 10px;
}

#logout {
  margin-right: 15px;
  color: white;
}

#active-window {
  color: mix(var(--color4), var(--color5), 0.5);
}

tooltip {
  background-color: var(--background);
  color: mix(var(--color5), white, 0.4);
  border-radius: 7px;
  padding: 4px 8px;
  font-size: 15px;
}
