@import url("./colors.css");

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: 900;
  font-size: 16px;
  background: transparent;
  transition: background 0.4s cubic-bezier(0.55, 0.68, 0.48, 1.682);
}



/* @keyframes gradient-border {
  0%   { border-image-source: linear-gradient(45deg, @color2, @color4, @color5, @color3, @color6); }
  5%   { border-image-source: linear-gradient(63deg, @color4, @color5, @color3, @color6, @color7); }
  10%  { border-image-source: linear-gradient(81deg, @color5, @color3, @color6, @color7, @color8); }
  15%  { border-image-source: linear-gradient(99deg, @color3, @color6, @color7, @color8, @color9); }
  20%  { border-image-source: linear-gradient(117deg, @color6, @color7, @color8, @color9, @color10); }
  25%  { border-image-source: linear-gradient(135deg, @color7, @color8, @color9, @color10, @color11); }
  30%  { border-image-source: linear-gradient(153deg, @color8, @color9, @color10, @color11, @color12); }
  35%  { border-image-source: linear-gradient(171deg, @color9, @color10, @color11, @color12, @color13); }
  40%  { border-image-source: linear-gradient(189deg, @color10, @color11, @color12, @color13, @color14); }
  45%  { border-image-source: linear-gradient(207deg, @color11, @color12, @color13, @color14, @color15); }
  50%  { border-image-source: linear-gradient(225deg, @color12, @color13, @color14, @color15, @color2); }
  55%  { border-image-source: linear-gradient(243deg, @color13, @color14, @color15, @color2, @color4); }
  60%  { border-image-source: linear-gradient(261deg, @color14, @color15, @color2, @color4, @color5); }
  65%  { border-image-source: linear-gradient(279deg, @color15, @color2, @color4, @color5, @color3); }
  70%  { border-image-source: linear-gradient(297deg, @color2, @color4, @color5, @color3, @color6); }
  75%  { border-image-source: linear-gradient(315deg, @color4, @color5, @color3, @color6, @color7); }
  80%  { border-image-source: linear-gradient(333deg, @color5, @color3, @color6, @color7, @color8); }
  85%  { border-image-source: linear-gradient(351deg, @color3, @color6, @color7, @color8, @color9); }
  90%  { border-image-source: linear-gradient(9deg, @color6, @color7, @color8, @color9, @color10); }
  95%  { border-image-source: linear-gradient(27deg, @color7, @color8, @color9, @color10, @color11); }
  100% { border-image-source: linear-gradient(45deg, @color2, @color4, @color5, @color3, @color6); }
} */

@keyframes animated-gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* #bar {
    background: linear-gradient(270deg, @color2, @color4, @color5, @color3, @color6);
    background-size: 1000% 1000%;
    animation: animated-gradient 15s ease infinite;
} */

/* 
border-width:  0 0 3px 0 ;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, @color2, @color4, @color5); 

    animation: gradient-border 10s linear infinite; */

/* #bar {
    background-color: @background;
    background-image: url("assets/gradient.png");
    background-repeat: no-repeat;
    background-size: 1000px;
} */

#bar {
  background-color: @background;

}

#corner {
  background-color: @background;
}


#corners-overlay {
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  margin-left: 9px;
  margin-right: 9px;
  background-color: transparent;
  border:solid;
  border-radius: 42px;
  border-width: 2px;
  border-color: @color4;
  box-shadow: @color4 0px 0px 3px 4px;
}

#screen-padding-left,#screen-padding-right{
  background-color: @background;
  padding:5px;
}

#screen-padding-bottom{
  background-color: @background;
  padding:8px;
}


#screen-padding-top{
  background-color: @background;
  padding:3px;
}

.sep {
  padding: 10px;
}

#logout {
  margin-right: 15px;
  color: white;
}
#clock label {
  font-size: 18px;
  background: transparent;
  color: @color4;
  margin: 3px;
  
}

#cpu {
  margin-left: 10px;
}

#cpu-label {
    color: @color6;
    font-size: 20px;
    font-weight: 600;
    padding:10px;
}

#cpu-progress-bar {
  color: white;
  border-color: shade(@color4, 0.85);
  
}

#gpu-stats {
  margin-right: 0px;
}

#gpu-icon {
  min-width: 20px;
  padding: 0;
  margin: 0;
  color: white;
}

#gpu-scales-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

#gpu-usage-scale trough {
  padding:0;
  margin:0;
  border:solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: @color4;
  min-width: 35px;
  min-height: 5px;
}


#gpu-usage-scale highlight {
  border-radius: 5px;
  background: @color4;
  
}

#gpu-mem-usage-scale trough {
  padding:0;
  margin:0;
  border:solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: @color4;
  min-width: 35px;
  min-height: 5px;
}


#gpu-mem-usage-scale highlight {
  border-radius: 5px;
  background: @color4;
  
}

#memory-label {
  color: @color6;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
}

#memory-progress-bar {
  color: white;
  border-color: shade(@color4, 0.85);
}

#download-icon {
  font-size:16px;
}

#download-speed{
  font-size:14px;
}


#upload-icon {
  font-size:16px;
}

#upload-speed{
  font-size:14px;
}

#workspaces {
  background-color: transparent;
  padding-right:10px;
  padding-left: 10px;
}

.workspace-button {
  padding: 0;
  background-color: transparent;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: 500;
  color: lighter(@color4);
  transition: all 0.3s cubic-bezier(0.55, 0.68, 0.48, 1.682);
}

.workspace-button.active{
  background: @color4;
  color: @background;
  font-weight: 900;
  /* animation: animated-gradient 25s ease infinite; */
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 40px;
}

.workspace-button:hover {
  background: alpha(@color4, 0.8);
  color: @background;
  /* background-size: 400% 400%;
  animation: animated-gradient 5s ease infinite; */
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 40px;
}


#active-window {
  color: mix(@color4, @color5, 0.5);
  
}

#cava > label {
  font-size: 15px;
}
.cava-active {
  padding: 0;
  background: @color3;
  color: @background;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 5px;
  box-shadow: @color3 0px 0px 10px 4px;
}

.cava-silent {
  all: unset;
}

tooltip {
  background-color: @background;
  color: mix(@color5, white, 0.4);
  border-radius: 7px;
  padding: 4px 8px;
  font-size: 15px;
}

#song-title {
  color: lighter(@color4);
}

#pause-icon {
  font-size: 18px;
  padding-left: 2px;
  color: lighter(@color4);
}

#album-art > * {
  padding: 0;
}

#album-art {
  border: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: @color4;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  
}

#mpris-overlay-window {
  background-color: transparent;
}

#mpris-overlay {
  background: alpha(@backgroundWaybar, 0.9);
  font-weight: 900;
  padding: 0px;
  border-radius: 16px;
  border-width: 2px;
  margin-top: 20px;
}

#mpris-overlay {
  transition: width 0.3s cubic-bezier(0.34, 1.56, 0.64, 1); /* Example cubic-bezier values */
}
#mpris-popup-scale{
  all:unset;
  margin-bottom: -10px;
}

#mpris-popup-scale trough 
{
  border:solid;
  border-radius: 10px;
  border-width: 1px;
  color:@color4;
}


#mpris-popup-scale slider {
  padding-top: 3px;
  padding-bottom: 3px;
  margin:0px;
  border-radius: 10px;
  border-width: 10px;
  border: solid;
  background-color: @background;
}

#mpris-popup-scale highlight {
  border-radius: 10px;
  background: @color4;
  padding:0px;
  margin:0px;
}


#song-title-overlay {
  font-size: 20px;
  color: @color4;
}

#song-artist-overlay {
  font-size: 16px;
}

#album-art-overlay {
  border: solid;
  border-radius: 15px;
}

#right-column {
  padding: 15px;
}

#prev-button label,
#play-button label,
#next-button label,
#shuffle-button label,
#repeat-button label {
  font-size: 25px;
}

#play-button {
  color:@color4;
}

#system-controls {
  padding:0px;
  background-color: @color4;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-right:9px;
  padding-left: 9px;
  border-width: 2px;
  border-radius: 8px;
}

#audio-icon {
  color: @background;
  font-size: 18px;
  font-weight: 600;
  padding-top: 2px;
  margin-top:-2px;
}

#audio-container {
  padding:0px;
}



#audio-scale trough {
  padding:0;
  margin:0;
  border:solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: @background;
  min-width: 55px;
  min-height: 10px;
}


#audio-scale highlight {
  border-radius: 5px;
  background: @background;
  
}
#notification-button {
  background-color: @color4;
  color: @background;
  border-radius: 7px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 8px;
  padding-left: 8px;
}

#network-icon {
  color: @background;
  font-size: 18px;
  margin-left: 2px;
}

#network-overlay-window {
  background-color: transparent;
  border-radius: 15px;
  
}

#wifi-networks-box {
  background: alpha(@backgroundWaybar, 0.9);
  font-weight: 900;
  margin-top: 20px;
  padding: 10px;
  border-radius: 15px;
  border: solid;
}

#wifi-networks-box button {
  color: mix(@color5, white, 0.4);
  padding: 5px;
}

#wifi-password-entry {
  background-color: @color5;
  padding: 4px;
  margin-left: 14px;
  border-radius: 5px;
}

#bluetooth-percentage {
  min-width: 0px;
  font-size: 14px;
  color: @background;
}

#bluetooth-icon {
  font-size: 18px;
  margin-right: 2px;
  color: @background;
}

#battery-glyph {
  font-size: 15px;
  margin-right: 2px;
}

#battery-percent {
  font-size: 14px;
}


#control-center {
  background-color: @background;
  padding: 20px;
}

#bluetooth-toggle {
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 10px;
  border-width: 2px;
  border-color: @color4;
}

#bluetooth-toggle label {
  font-size: 25px;
}

.bluetooth-off {
  color: @color4;
  border: solid;
  background-color: transparent;
  border-width: 1px;
  border-color: @color4;
}

/* highlighted background when on */
.bluetooth-on {
  background-color: @color4; /* or any colour you want */
  color: @background;
}

#wifi-toggle {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

#wifi-toggle label {
  font-size: 20px;
}

.wifi-off {
  color: @color4;
  border: solid;
  background-color: transparent;
  border-width: 2px;
  border-color: @color4;
}

.wifi-on {
  background-color: @color4;
  color: @background;
}

#rog-button {
  padding-left: 10px;
  padding-right: 6px;
  border-radius: 10px;
  background-color: @color4;
  color: @color2;
}

#wallpaper-icon {
  color: @background;
  font-size: 24px;
  font-weight: 900;
}

#wallpaper-change-button {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  background-color: @color4;
}

#mic-toggle {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
}

#mic-toggle.mic-active {
  background-color: @color4;
  color: @background;
}

#mic-icon {
  font-size: 24px;
}

#mic-toggle.mic-muted {
  color: @color4;
  border: solid;
  background-color: transparent;
  border-width: 1px;
  border-color: @color4;
  padding-left: 13px;
  padding-right: 13px;
  /* padding-top:2px;
    padding-bottom:2px; */
}

#performance-toggle {
  padding: 5px;
  border-radius: 10px;
  background-color: @color4;
  color: @background;
}

#status-label {
  font-size: 17px;
}

#brightness-container,
#brightness-container overlay {
  padding: 0px;
  margin: 0px;
  border-width: 2px;
  border: solid;
  border-color: @color4;
}



#brightness-scale slider {
  
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 20px;
  border-radius: 10px;
  border-width: 2px;
  border: solid;
  background-color: @background;
  
}

#brightness-scale highlight {
  border-radius: 10px;
  background: @color4;
}

/* overlay label */
#brightness-label {
  color: @background;
  font-size: 20px;
  padding-left: 5px;
  font-weight: 900;
  border-width: 2px;
  border: solid;
  border-color: @color4;
}

#brightness-label.brightness-icon-low {
  color: @color4;
}


#notification {
  min-width: 430px;
  padding:0;
  border-radius: 1rem;
  background-color: alpha(@backgroundWaybar, 0.7);
}

#notification-info {
  padding:5px;
  margin-top: 10px;
  margin-bottom: 10px;
}


#notification-thumbnail {
  border-radius: 10px;
}

#notification-info {
  padding:0px;
  margin-right: -10px;
  margin-left: 15px;
}

#action-buttons {
  padding-top:5px;
}

#action-buttons > * > button {
  border-radius: 10px;
  background-color: @color4;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}
#action-buttons > * > button > label
{
  font-size: 14px;
}

#notification-close-button{
  padding-top:2px;
  padding-bottom:2px;
  padding-right: 7px;
  padding-left: 7px;
  color:@color5;
  background-color: transparent;
}

#notification-close-button label {
  font-size:20px;
}

#notification-title {
  color: lighter(@color4);
  font-size: 20px;
}

#notification-body {
  font-size: 16px;
}
